.day {
    margin: 5px;
    display: flex;
}

.name {
    font-weight: bold;
    font-size: 1.1rem;
}

.total {
    margin-left: 10px;
    color: #3ead95;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
