.Todo {
    padding: 0.5rem 1rem;
}

.container {
    display: flex;
    align-items: center;
}

.checked,
.unchecked,
.deleteTodo {
    cursor: pointer;
}

.text {
    position: relative;
    flex: 1;
    margin: 0 0 0 8px;
    cursor: pointer;
    font-size: 1.15rem;
    max-width: 440px;
}

.textDate {
    font-size: 1rem;
    color: #bebebe;
}


.line {
    height: 1px; 
    background: #bebebe;
    position: absolute;
    top: 25%;
    width: 0;
    transition: width 250ms ease-in-out;
}

.line-through {
    width: 100%;
}
