 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* ====================== SIDEBAR ====================== */

.Sidebar {
    width: 16rem;
    min-width: 10rem;
    background-color: #FFF;
    height: 100%;
    box-shadow: 0 0 3px #6462624f;
    padding: 10px;
    z-index: 10;
}

/* ====================== MAIN ====================== */

.Main {
    width: 100%;
    height: 100%;
    background-image: url(./images/16_afcas12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* ====================== USER ====================== */

.User {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
    border: 1px solid #ebebeb;
}


.User .info p {
    font-size: 1rem;
    font-weight: bold;
}

.User .info a {
    text-decoration: underline;
    color: #3ead95;
    font-size: 0.9rem;
}

/* ====================== MODAL ====================== */

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

.Modal .container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background-color: #FFF;
    border-radius: 20px;
}

/* ====================== ADD NEW TODO ====================== */ 

.AddNewTodo {
    border-bottom: 1px solid #ebebeb;
}

.AddNewTodo .btn {
    padding: 1rem;
    width: 100%;
    height: 70px;
    margin: 0.5rem 0;
}

.AddNewTodo .btn button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #45af98;
    color: #FFF;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.AddNewTodo .btn button:hover {
    filter: brightness(1.1);
    transition: all .2s ease;
}

/* ====================== ADD NEW TODO FORM ====================== */

.TodoForm {
    padding: 1rem 1rem calc(1rem + 45px) 1rem;
    width: 450px;
}

.TodoForm .text input {
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 0 0 0;
    border: none;
    border-bottom: 1px solid #FFF;
    font-size: 1.2rem;
}

.TodoForm .text input:focus {
    outline: none;
    border-bottom: 1px solid #45af98;
}

.TodoForm p {
    margin-left: 12px;
}

.TodoForm .text {
    color: #494949;
}

.TodoForm .title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.TodoForm .pick-day {
    padding: 1.1rem 1.5rem 0 1.5rem;
}

.TodoForm .pick-time {
    padding: 1.5rem;
}

.TodoForm .cancel {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.TodoForm .confirm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.TodoForm .confirm button {
    width: 100%;
    height: 50px;
    background-color: #3ead95;
    color: #FFF;
    font-size: 1.1rem;
    border: none;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ====================== CALENDAR ====================== */

.Calendar {
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;
}

.Calendar .header {
    display: flex;
    align-items: center;
}

.Calendar .header .title {
    display: flex;
    align-items: center;
    flex: 1;
}

.Calendar .header .title p {
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.Calendar .header .btns span {
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calendar .header .btns span:hover {
    background-color: #ebebeb;
    transition: all 300ms ease-in-out;
}

.Calendar .items {
    padding: 0.5rem;
}

.Calendar .items .item {
    padding: 0.25rem;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* ====================== TODOS ====================== */

.Todos {
    width: 450px;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #FFF;
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 15px;
    opacity: 0.7;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.Todos::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b0d8b4;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.Todos .selected-task {
    margin: 1rem 0.5rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #d4d4d4;
}

.Todos .todos {
    overflow-y: auto;
}

/* ====================== TODO ====================== */

.Todo {
    padding: 0.5rem 1rem;
}

.Todo .todo-container {
    display: flex;
    align-items: center;
}

.Todo .todo-container span {
    cursor: pointer;
}

.Todo .todo-container .text {
    position: relative;
    flex: 1;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.15rem;
}

.Todo .todo-container .text span {
    font-size: 1rem;
    color: #bebebe;
}


.Todo .todo-container .text .line {
    height: 1px;
    background: #bebebe;
    position: absolute;
    top: 25%;
    width: 0;
    transition: width 250ms ease-in-out;
}

.Todo .todo-container .text .line-through {
    width: 100%;
}


/* ====================== EDIT TODO ====================== */

.EditTodo {
    position: absolute;
    bottom: 40px;
    left: calc(40px + 450px + 40px);
    background-color: #FFF;
    height: 80%;
    width: 450px;
    border-radius: 15px;
    opacity: 0.7;
}

.EditTodo .header {
    margin: 1rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    align-items: center;
}

.EditTodo .header img {
    margin-right: 7px;
}

/* ====================== NEXT 7DAYS ====================== */

.Next7Days .day {
    margin: 5px;
    display: flex;
}

.Next7Days .day .name {
    font-weight: bold;
    font-size: 1.1rem;
}

.Next7Days .day .total-todos {
    margin-left: 10px;
    color: #3ead95;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ====================== PREV 7DAYS ====================== */

.Previous7Days .day {
    margin: 5px;
    display: flex;
}

.Previous7Days .day .name {
    font-weight: bold;
    font-size: 1.1rem;
}

.Previous7Days .day .total-todos {
    margin-left: 10px;
    color: #3ead95;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}